* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(248, 239, 218);
  overscroll-behavior: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000000;
}

a:hover {
  color: #826e5c;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
