.allproducts-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #fceed6;
  padding: 40px;
}

.allproducts-title {
  font-size: 1.5rem;
  /* align-self: flex-start; */
}

.allproducts-display {
  border: 1px solid goldenrod;
  width: 50%;
  padding: 10px;
  margin-top: 10px;

  /* */
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 250px 250px 250px;
  gap: 30px;
  /* column-gap: 30px; */
}

.allproducts-image {
  width: 200px;
}

.allproducts-description {
  color: black;
  /* align-self: center; */
}

@media (max-width: 1000px) {
  .allproducts-display {
    grid-template-columns: 200px 200px;
  }
}

@media (max-width: 650px) {
  .allproducts-display {
    grid-template-columns: 200px;
  }
}
