.products-card {
  justify-content: space-between;
  align-content: space-between;
  /* padding-bottom: 15px; */
  height: 100%;
}

/* className="allproducts-display" */
.product-container {
  padding-bottom: 15px;
}

.allproducts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fceed6;
}

.allproducts-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  /* align-self: flex-start; */
}

/* .products-card-body {
  background-color: #f8e0ca;
} */

.product-card-button {
  align-content: flex-end;
  background-color: #5b8a72;
  color: white;
  /* margin: auto; */
}

.allproducts-display {
  border: 2px solid #dac2ac;
  width: 80%;
  padding: 10px;
  margin-top: 10px;

  /* */
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 250px 250px 250px;
  gap: 30px;
  /* column-gap: 30px; */
  justify-content: center;
}

.allproducts-image {
  width: 200px;
}

.product-container:hover {
  transform: scale(1.05);
}

.allproducts-description {
  color: black;
  /* align-self: center; */
}

@media (max-width: 1000px) {
  .allproducts-display {
    grid-template-columns: 200px 200px;
  }
}

@media (max-width: 650px) {
  .allproducts-display {
    grid-template-columns: 200px;
  }
}
