.admin-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cormorant;
}

.users-list {
  display: flex;
}

.user-card {
  max-width: 400px;
  padding: 20px 20px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.admin-status-dropdown {
  margin-right: 5px;
  padding: 2px 2px;
}
.user-card button {
  padding: 3px 4px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 7px;
  border: 0.5px solid black;
}

.user-card button:hover {
  background-color: palegoldenrod;
}

@media (max-width: 750px) {
  .users-list {
    display: flex;
    flex-direction: column;
  }
}
