.cart-container {
  display: flex;
  width: 95%;
  list-style: none;
  padding: 4rem;
  font-family: "Cormorant", serif;
}

.cart-items-display {
  width: 100%;
}

.cart-item-card {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

#summary-card {
  width: 12rem;
}
.cart-image {
  width: 100px;
  height: auto;
  flex: 1;
  margin-right: 10px;
}

#checkout-item-details {
  flex: 3;
  width: 60%;
  max-width: 338px;
}
#cart-item-details input {
  margin-bottom: 5px;
  margin-right: 10px;
}
.cart-container button {
  background-color: #dac2ac;
  padding: 4px 7px;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  justify-content: flex-end;
  border: none;
  border-radius: 5px;
}

.cart-container button:hover {
  background-color: lavender;
}

.cart-summary-container {
  margin-left: 10px;
  text-align: center;
}
/* .checkout-container input {
  margin-right: 15px;
} */
