.checkout-container {
  display: flex;
  width: 85%;
  list-style: none;
  padding: 4rem;
  font-family: "Cormorant", serif;
}

.checkout-items-display {
  flex: 1;
  text-align: center;
}

.checkout-items-display li {
  list-style: none;
}

.checkout-item-card {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
}

#summary-card {
  width: 12rem;
  /* height: 10rem; */
}
.checkout-image {
  width: 100px;
  height: auto;
  flex: 1;
  margin-right: 10px;
}

#checkout-item-details {
  flex: 3;
  width: 60%;
  max-width: 338px;
}
#checkout-item-details input {
  margin-bottom: 5px;
  margin-right: 10px;
}
.checkout-container button {
  background-color: #dac2ac;
  padding: 9px 12px;
  font-weight: bold;
  font-size: 1.4rem;
  align-self: center;
  justify-content: flex-end;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
}

.checkout-container button:hover {
  background-color: lavender;
}

.checkout-summary-container {
  margin-left: 10px;
  text-align: center;
}
/* .checkout-container input {
  margin-right: 15px;
} */

.checkout-shippingBilling-container {
  flex: 1;
  text-align: center;
}

.checkout-shippingBilling-container input {
  border: none;
  border-radius: 5px;
  padding: 7px 7px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
}

.billing-container {
  flex: 1;
  text-align: center;
}

.shipping-billing {
  flex: 2;
}
