.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  list-style: none;
  padding: 4rem;
}

.checkout-image {
  width: 100px;
  height: auto;
}

.checkout-container button {
  background-color: #dac2ac;
  padding: 7px 7px;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  justify-content: flex-end;
  border: none;
}
