#contact-us {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

#contact-us > p {
  padding-top: 0.5px;
}

.contact-info {
  padding: 20px 0px;
}

#contact-form {
  width: 450px;
  height: 500px;
  border: 2px double darkslategrey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: rgb(236, 232, 206);
}

#contact-form > input {
  width: 90%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#contact-form > textarea {
  width: 90%;
  height: 250px;
  margin-top: 2px;
  margin-bottom: 10px;
}

#contact-form > button {
  background-color: darkolivegreen;
  color: white;
  border-style: solid;
  border-color: darkolivegreen;
  text-shadow: none;
  width: 100px;
  height: 30px;
  margin: 10px;
}

.required {
  color: crimson;
}

@media (max-width: 600px) {
  #contact-us {
    width: 90%;
  }
  .contact-info {
    padding: 5px 0px;
  }
  #contact-form {
    width: 90%;
    height: auto;
  }
  #contact-form > textarea {
    height: 120px;
  }
}
