#featuredProds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #DAC2AC; */
  margin: 3rem;
}

.featuredProd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-prods-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featured-prod-image {
  width: 50%;
  padding: 10px 10px;
}

.featured-prod-name {
  align-self: center;
  justify-content: center;
}

.featured-products-title {
  align-self: flex-start;
  font-size: 1.2rem;
  padding-bottom: 7px;
}

.featured-prods-description {
  color: black;
  align-self: center;
}

.featured-prods-description:link {
  color: black;
}

.featured-prods-description:hover {
  color: #826e5c;
}
