#featuredProds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DAC2AC;
  margin: 3rem;
}

.featuredProd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
