.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5ebd7;
  /* font-family: "Spectral", serif; */
  font-family: "Raleway", sans-serif;
}

.featured {
  width: 80%;
}
.about-us {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #dac2ac;
  background-color: #dac2ac;
  padding: 5%;
  gap: 2rem;
}

.family-photo {
  height: auto;
  flex: 1;
  object-fit: cover;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  font-weight: 500;
  padding: 15px 15px;
  height: 427px;
}

@media (max-width: 600px) {
  .about-us {
    flex-direction: column;
    width: 100%;
  }
  .bio {
    padding: 0%;
  }
  .family-photo {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .bio {
    overflow: scroll;
  }
}

.bio-header {
  font-size: 1.5rem;
}

.about-paragraph {
  padding: 15px 15px;
  line-height: 1.5;
  font-size: 1.2vw;
}

@media (max-width: 9000px) {
  .about-paragraph {
    overflow: scroll;
  }
}
