.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5ebd7;
  /* font-family: "Spectral", serif; */
  font-family: "Raleway", sans-serif;
}

.about-us {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid #dac2ac;
  background-color: #dac2ac;
  padding: 5%;
  gap: 2rem;
}

.family-photo {
  width: 100%;
  height: auto;
  flex: 1;
  object-fit: contain;
  /* padding: 10px; */
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  font-weight: 500;
  /* padding: 10px; */
  /* background-color: #dac2ac; */
  height: 427px;
  /* min-height: 500px; */
}

@media (max-width: 1400px) {
  .bio {
    overflow: scroll;
  }
}

.bio-header {
  font-size: 1.5rem;
}

.about-paragraph {
  padding: 7px;
  line-height: 1.5;
  font-size: 1.1rem;
}

@media (max-width: 9000px) {
  .family-photo {
    width: 200px;
  }
  .about-paragraph {
    font-size: 0.8rem;
    overflow: scroll;
  }
}
