.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #826e5c;
  gap: 10px;
  background-image: url(http://localhost:8080/c841f3bbeaf456e8982b.png);
}

.navbar-left-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.all-products-link {
  align-self: center;
  padding: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 5px;
}

.icon {
  width: 70px;
  mix-blend-mode: multiply;
}

.navbar-company-name {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-container a {
  color: white;
  align-self: flex-end;
}

.search-input {
  /* border-radius: 7px; */
  padding: 5px;
}

.search-button {
  padding: 5px 10px;
  margin: 0 10px;
  /* border-radius: 7px; */
  background-color: #dac2ac;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  justify-content: flex-end;
  border: none;

}
