.signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 50%;
  max-width: 554px;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  border-radius: 7px;
  position: absolute;
  left: 35%;
  bottom: 20%;
  font-family: "Cormorant", serif;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: url("/photos/WoodWorking.png");
  background-size: cover;
}

.signup-form button {
  padding: 7px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.signup-form button:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.signup-form label {
  font-size: 1.2rem;
}

.signup-content {
  display: flex;
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.signup-password-container {
  padding-top: 15px;
  padding-right: 10px;
}

#login-link {
  text-decoration: underline;
}
